.over {
  background: linear-gradient(90deg, theme("colors.primary") 60%, theme("colors.morning") 33%);
}
.over-mob {
  background: linear-gradient(180deg, theme("colors.primary") 60%, theme("colors.morning") 33%);
}
@media (max-width: 320px) {
  .over {
    background: linear-gradient(180deg, theme("colors.primary") 60%, theme("colors.morning") 33%);
  }
}
@media (max-width: 640px) {
  .over {
    background: linear-gradient(180deg, theme("colors.primary") 60%, theme("colors.morning") 33%);
  }
}
