@font-face {
  font-family: 'Helvetica Neue';
  src: url('./webfonts/Helvetica/bold.otf');
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./webfonts/Helvetica/meduiem.otf');
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('./webfonts/Helvetica/semi\ bold.ttf');
}
@font-face {
  font-family: 'SF UI Text';
  src: url('./webfonts/sfu/SFUIText-Bold.ttf');
}
@font-face {
  font-family: 'SF UI Text';
  src: url('./webfonts/sfu/SFUIText-Heavy.ttf');
}
@font-face {
  font-family: 'SF UI Text';
  src: url('./webfonts/sfu/SFUIText-Light.ttf');
}
@font-face {
  font-family: 'SF UI Text';
  src: url('./webfonts/sfu/SFUIText-Medium.ttf');
}
@font-face {
  font-family: 'SF UI Text';
  src: url('./webfont/sfu/SFUIText-Regular.ttf');
}
@font-face {
  font-family: 'SF UI Text';
  src: url('./webfonts/sfu/SFUIText-Semibold.ttf');
}
