* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  font-family: 'Helvetica', 'SF UI Text', -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  scroll-snap-type: none;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
body::-webkit-scrollbar {
  display: none;
}
